h1{
    text-align: center;
    background-color: darkblue;
    color: aliceblue;
}
h2{
    
    text-align: center;
    background-color: cyan;
}
body{
    background-image: url("../images/haikei3.jpg");
}
h5{
    background-image: url("../images/haikei4.jpg");
}
table{
    background-color: chartreuse
}